version: "3.5"
services:
  db:
    image: "mysql"
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: "password"
      MYSQL_DATABASE: "db"
      MYSQL_USER: "user"
      MYSQL_PASSWORD: "password"
    ports:
    - "3002:3306"
    volumes:
     - "./.mysql-data/db:/var/lib/mysql"
